<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wafa.studentapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupStudent" />
        <activity android:name=".SignupParent" />
        <activity android:name=".SignupTeacher" />
        <activity android:name=".LoginStudent" />
        <activity android:name=".StudentHome" />
        <activity android:name=".StudentInfo" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".StudentUpdateInfo" />
        <activity android:name=".ParentHome" />
        <activity android:name=".LoginParent" />
        <activity android:name=".LoginTeacher" />
        <activity android:name=".ParentInfo" />
        <activity android:name=".TeacherInfo" />
        <activity android:name=".TeacherUpdate" />
        <activity android:name=".ParentUpadate" />
        <activity android:name=".ParentProfile" />
        <activity android:name=".ParentChatTeacher" />
        <activity android:name=".test" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".TeachersChatParents" />
        <activity android:name=".TeacherProfile" />
        <activity android:name=".MessageTeacher" />
        <activity android:name=".TeachersChatStudents" />
        <activity android:name=".MessageTeacherStudent" />
        <activity android:name=".StudentChatTeacher" />
        <activity android:name=".MessageStudentTeacher"></activity>
    </application>

</manifest>